## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Saint-Philippe,RE,83.79,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,5,Hobart,AU,78.22,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
2,8,Saint-Pierre,RE,83.88,clear sky,-21.3393,55.4781,Lindsey Hôtel
3,11,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,People ThankYou
4,21,Port Alfred,ZA,75.51,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [3]:
# Checking if there are any empty rows
vacation_df.count()

City_ID                162
City                   162
Country                162
Max Temp               162
Current Description    162
Lat                    162
Lng                    162
Hotel Name             162
dtype: int64

In [4]:
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Saint-Philippe,RE,83.79,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
1,5,Hobart,AU,78.22,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
2,8,Saint-Pierre,RE,83.88,clear sky,-21.3393,55.4781,Lindsey Hôtel
3,11,Rikitea,PF,79.20,clear sky,-23.1203,-134.9692,People ThankYou
4,21,Port Alfred,ZA,75.51,overcast clouds,-33.5906,26.8910,The Halyards Hotel
5,22,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,31,Carnarvon,AU,89.67,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
7,32,Quatre Cocos,MU,86.11,few clouds,-20.2078,57.7625,Sunrise Attitude Hotel
8,43,Cuamba,MZ,75.92,light rain,-14.8031,36.5372,Hotel Vision
9,44,Esperance,AU,76.84,clear sky,-33.8667,121.9000,Hospitality Esperance

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Dubbo")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Dubbo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Kiama")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Colac")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Mount Gambier")]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start,end, waypoints =[stop1, stop2, stop3], travel_mode='DRIVING'or 'BICYCLING' or 'WALKING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,357,Dubbo,AU,84.33,scattered clouds,-32.2500,148.6167,Quality Inn Dubbo International
1,224,Kiama,AU,78.28,clear sky,-34.6833,150.8667,The Sebel Kiama Harbourside
2,573,Colac,AU,89.15,overcast clouds,-38.3333,143.5833,Otway Gate Motel
3,433,Mount Gambier,AU,78.71,overcast clouds,-37.8333,140.7667,The Commodore

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
route = gmaps.directions_layer(start,end, waypoints =[stop1, stop2, stop3], travel_mode='DRIVING'or 'BICYCLING' or 'WALKING')
fig.add_layer(route)
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))